@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("https://w.wallhaven.cc/full/8x/wallhaven-8x7xzo.jpg");
    height: 100vh;
    background-size: cover;
}

.results_text {
    color: white;
    font-size: 20px;
}

.sticker-img-size {
    height: 150px;
    width: 200px;
}

#results {
    background-color: skyblue;
    padding: 20px;
    margin: 30px;
    border-style: solid;
    border-color: #e989a9;
    border-width: 2px;
    border-radius: 5px;

}

.main-heading2 {
    color: white;
    background-color: #e87093;
    font-size: 24px;
    font-family: "Roboto";
    padding: 10px;
    border-radius: 20px;

}

.main-heading {
    color: white;
    font-family: "Sans-Serif";
    text-align: center;
    background-color: #e43165;
    border-radius: 32px;
    font-weight: 500;
    font-size: 34px;
    opacity: 0.9;
}

.sign {
    font-family: "Caveat";
    color: blue;
    background-color: #2b99d4;
    padding: 5px;
    border-radius: 10px;
}

.by_text {
    color: black;
    font-family: "Roboto";
    margin-top: 13px;
    margin-right: 4px;
}

.bg-container2 {
    background-color: #e989a9;
    padding: 20px;
    margin: 30px;
    border-style: solid;
    border-color: #e989a9;
    border-width: 2px;
    border-radius: 5px;

}

#result_span {
    color: blue;
}